header {
  nav {
    @include flex($justify: space-between);
    position: fixed;
    width: 100%;
    padding: 2rem;
    backdrop-filter: blur(0.8rem);
    z-index: 3;

    ul {
      @include flex(column, flex-end);
      float: right;
      text-align: right;

      li {
        padding: 0.16rem 0.32rem;
        color: $white;

        &:hover {
          background-color: $white;
          color: $black;
        }
      }
    }
  }
}

main {
  #home {
    @include flex($justify: center);
    @include size(100%, 100vh);
    background-color: $black;

    h1 {
      color: $white;
      font-size: 12.8rem;

      span {
        font-family: $bembo-semibold;
      }
    }
  }

  #intro {
    padding: 32rem 6rem;

    .info-container {
      h2 {
        &:first-child {
          font-family: $hkgrotesk-bold;
        }

        &:last-child {
          font-family: $bembo;
          margin-top: 3.2rem;
        }
      }
    }
  }

  #index {
    @include size(100%, 100vh);
    background-color: $white;

    .articles-container {
      @include flex();
      height: 100vh;

      .article {
        @include flex();
        height: 100%;

        border-right: 0.3rem solid $black;

        .article-heading {
          height: 100%;
          padding: 6rem;

          background-color: $white;

          text-orientation: mixed;
          transform: rotate(180deg);
          writing-mode: vertical-rl;

          cursor: pointer;
          z-index: 2;

          h1 {
            span {
              text-decoration: underline;
            }
          }

          &:hover {
            filter: invert(1);
          }
        }

        .article-text {
          padding: 6rem;
          display: none;
          transform: translate(-100%);

          transition: 0.3s;

          h2 {}
        }
      }
    }
  }

  #authors {
    @include size(100%, 100vh);
    background-color: $black;
  }
}