header {
  nav {
    @include flex($justify: space-between);
    position: fixed;
    width: 100%;
    padding: 2rem;
    background-color: $black;
    z-index: 4;

    ul {
      @include flex();
      gap: 6.4rem;
      float: right;
      text-align: right;

      li {
        padding: 0.16rems 0.32rem;
        color: $white;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

main {
  #home {
    @include flex($justify: center);
    @include size(100%, 100vh);
    background-color: $black;

    h1 {
      color: $white;
      font-size: 12.8rem;

      span {
        font-family: $bembo-semibold;
      }
    }
  }

  #intro {
    padding: 32rem 6rem;

    .info-container {
      h2 {
        &:first-child {
          font-family: $hkgrotesk-bold;
        }

        &:last-child {
          font-family: $bembo;
          margin-top: 3.2rem;
        }
      }
    }
  }

  #articles {
    @include size(100%, 100vh);
    background-color: $white;

    @include tablet() {
      height: initial;
    }

    .articles-container {
      @include flex();
      height: 100vh;

      @include tablet() {
        @include size(100%, initial);
        @include flex(column);
        background: red;
      }

      >img {
        position: absolute;
        right: 0;
        width: 50%;
      }

      .article {
        height: 100%;
        padding: 6rem;

        background-color: $white;
        cursor: pointer;
        text-align: left;

        text-orientation: mixed;
        transform: rotate(180deg);
        writing-mode: vertical-rl;

        cursor: pointer;
        z-index: 2;

        @include tablet() {
          @include size(100%, fit-content);
          text-orientation: mixed;
          transform: none;
          writing-mode: horizontal-tb;
        }

        span {
          color: $pink;
          font-size: 4.6rem;
          font-family: $bembo;
          display: none;
          margin-right: 2.4rem;

          @include tablet() {
            margin: 2.4rem 0 0 0;
          }
        }
      }

      .active,
      .article:hover {
        background-color: $black;
        color: $white;

        span {
          display: block;
        }
      }

      .panel {
        width: 100%;
        height: 100%;
        background-color: $white;
        max-width: 0;
        overflow: hidden;
        transition: max-width 0.2s ease-out;
        border-left: 0.3rem solid $black;
        z-index: 3;

        @include tablet() {
          max-width: unset;
          max-height: 0;
          transition: max-height 0.2s ease-out;
        }

        .article-text {
          @include size(100%, 100%);
          @include flex();
          background-color: $white;
          opacity: 0;
          padding: 6rem;
          transition: 0.8s;
          border-right: 0.3rem solid $black;

          .article-text-content {
            max-height: 100%;
            padding-right: 6rem;
            overflow-y: auto;

            @include tablet() {
              max-height: initial;
              height: fit-content;
              padding: 0;
              overflow-y: hidden;
            }

            h1 {
              margin-top: 2.4rem;

              &.conclusion {
                margin-top: 6rem;
              }
            }

            img {
              margin-top: 2rem;
            }

            .reasons {
              h2 {
                margin-top: 2rem;
              }
            }
          }
        }
      }

      ::-webkit-scrollbar {
        width: 1.6rem;
        margin-right: 6rem;
      }

      ::-webkit-scrollbar-track {
        background: $white;
        border: 0.2rem solid $black;
      }

      ::-webkit-scrollbar-thumb {
        background: $black;
      }

      ::-webkit-scrollbar-thumb:hover {
        background: $gray;
      }
    }
  }

  #authors {
    // @include size(100%, 100vh);
    background-color: $black;
  }
}