$pink: #dc1156;
$black: #000000;
$white: #ffffff;

$title: 6.4rem;
$subtitle: 3.2rem;
$text: 1.6rem;
$copy: 1.4rem;

$hkgrotesk: 'HKGrotesk',
sans-serif;
$hkgrotesk-bold: 'HKGrotesk-Bold',
sans-serif;

$bembo: 'Bembo';
$bembo-semibold: 'Bembo-Semibold';