@font-face {
  font-family: "HKGrotesk";
  src: url("../assets/fonts/HKGrotesk-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "HKGrotesk-Bold";
  src: url("../assets/fonts/HKGrotesk-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Bembo";
  src: url("../assets/fonts/BemboStd.ttf") format("truetype");
}

@font-face {
  font-family: "Bembo-Semibold";
  src: url("../assets/fonts/BemboStd-Semibold.ttf") format("truetype");
}

header .nav,
header .nav-filled {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: fixed;
  width: 100%;
  padding: 2rem 4rem;
  z-index: 4;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

@media only screen and (max-width: 1024px) {
  header .nav,
  header .nav-filled {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media only screen and (max-width: 500px) {
  header .nav,
  header .nav-filled {
    position: absolute;
    padding: 0;
  }
}

header .nav #logo,
header .nav-filled #logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  left: 2rem;
}

@media only screen and (max-width: 1024px) {
  header .nav #logo,
  header .nav-filled #logo {
    position: initial;
  }
}

@media only screen and (max-width: 500px) {
  header .nav #logo,
  header .nav-filled #logo {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 4rem auto;
  }
}

header .nav #logo:hover .fixed,
header .nav-filled #logo:hover .fixed {
  opacity: 0;
}

@media only screen and (max-width: 500px) {
  header .nav #logo:hover .fixed,
  header .nav-filled #logo:hover .fixed {
    opacity: 1;
  }
}

header .nav #logo:hover .transition,
header .nav-filled #logo:hover .transition {
  opacity: 1;
}

header .nav #logo .transition,
header .nav-filled #logo .transition {
  width: 68rem;
  position: fixed;
  opacity: 0;
  color: #000000;
  top: 1.5rem;
}

@media only screen and (max-width: 500px) {
  header .nav #logo .transition,
  header .nav-filled #logo .transition {
    display: none;
  }
}

header .nav #logo img:last-child,
header .nav-filled #logo img:last-child {
  position: fixed;
  top: 1.5rem;
  left: 13.1rem;
  margin-left: 0.8rem;
}

@media only screen and (max-width: 1024px) {
  header .nav #logo img:last-child,
  header .nav-filled #logo img:last-child {
    position: initial;
  }
}

header .nav.nav,
header .nav-filled.nav {
  background: transparent;
  color: #000000;
}

@media only screen and (max-width: 500px) {
  header .nav.nav,
  header .nav-filled.nav {
    color: #ffffff;
  }
}

header .nav.nav #logo *,
header .nav-filled.nav #logo * {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

@media only screen and (max-width: 500px) {
  header .nav.nav #logo *,
  header .nav-filled.nav #logo * {
    -webkit-filter: none;
            filter: none;
  }
}

header .nav.nav-filled,
header .nav-filled.nav-filled {
  background: #000000;
  color: #ffffff;
}

@media only screen and (max-width: 500px) {
  header .nav.nav-filled,
  header .nav-filled.nav-filled {
    background: transparent;
  }
}

header .nav.nav-filled #logo *,
header .nav-filled.nav-filled #logo * {
  -webkit-filter: none;
          filter: none;
}

header .nav ul,
header .nav-filled ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6.4rem;
  float: right;
  text-align: right;
}

@media only screen and (max-width: 500px) {
  header .nav ul,
  header .nav-filled ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100vw;
    gap: auto;
    padding: 2rem 4rem;
    background: black;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 4;
  }
}

header .nav ul li,
header .nav-filled ul li {
  padding: 0.16rems 0.32rem;
  position: relative;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
}

header .nav ul li::before,
header .nav-filled ul li::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #dc1156;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

header .nav ul li:hover,
header .nav-filled ul li:hover {
  color: #dc1156;
}

header .nav ul li:hover::before,
header .nav-filled ul li:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

main #home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
  max-width: initial;
  max-height: initial;
  position: relative;
}

main #home > img {
  width: 100%;
  height: 100%;
  max-width: initial;
  max-height: initial;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  position: absolute;
  top: 0;
  left: 0;
}

main #home h1 {
  color: #ffffff;
  font-size: 6.4rem;
  font-family: bembo;
  position: absolute;
  padding: 4rem;
  bottom: 0;
  left: 0;
}

main #home .home-content {
  width: 100%;
  height: 100%;
  max-width: initial;
  max-height: initial;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
}

main #home .home-content > img {
  height: 100%;
}

main #home .home-content .home-letters {
  width: 100%;
  height: 100%;
  max-width: initial;
  max-height: initial;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
}

main #home .home-content .home-letters #a,
main #home .home-content .home-letters #b {
  width: 24rem;
  position: absolute;
}

main #intro {
  padding: 16rem 6rem;
  background-color: #ffffff;
}

main #intro .info-container {
  width: 72%;
}

@media only screen and (max-width: 500px) {
  main #intro .info-container {
    width: 100%;
  }
}

main #intro .info-container h2:first-child {
  font-family: "HKGrotesk-Bold", sans-serif;
}

main #intro .info-container h2:last-child {
  font-family: "Bembo";
  margin-top: 3.2rem;
}

main #articles {
  width: 100%;
  height: 100vh;
  max-width: initial;
  max-height: initial;
  background-color: #ffffff;
}

@media only screen and (max-width: 1024px) {
  main #articles {
    height: initial;
  }
}

main #articles .articles-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  outline: 0.3rem solid #000000;
}

@media only screen and (max-width: 1024px) {
  main #articles .articles-container {
    width: 100%;
    height: initial;
    max-width: initial;
    max-height: initial;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    outline-style: none;
  }
}

main #articles .articles-container > img {
  position: absolute;
  right: 0;
  width: 100vw;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 2;
}

@media only screen and (max-width: 1024px) {
  main #articles .articles-container > img {
    display: none;
  }
}

main #articles .articles-container .article {
  height: 100%;
  padding: 6rem;
  background-color: #ffffff;
  text-align: left;
  text-orientation: mixed;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  z-index: 3;
}

@media only screen and (max-width: 1024px) {
  main #articles .articles-container .article {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    max-width: initial;
    max-height: initial;
    text-orientation: mixed;
    -webkit-transform: none;
            transform: none;
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
    outline: 0.3rem solid #000000;
  }
}

main #articles .articles-container .article span {
  color: #dc1156;
  font-size: 4.8rem;
  font-family: "Bembo";
  display: none;
  margin-right: 2.4rem;
}

@media only screen and (max-width: 1024px) {
  main #articles .articles-container .article span {
    margin: 2.4rem 0 0 0;
  }
}

main #articles .articles-container .active,
main #articles .articles-container .article:hover {
  background-color: #000000;
  color: #ffffff;
}

main #articles .articles-container .active span,
main #articles .articles-container .article:hover span {
  display: block;
}

main #articles .articles-container .panel {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  max-width: 0;
  overflow: hidden;
  -webkit-transition: max-width 0.2s ease-out;
  transition: max-width 0.2s ease-out;
  border-left: 0.3rem solid #000000;
  z-index: 3;
}

@media only screen and (max-width: 1024px) {
  main #articles .articles-container .panel {
    max-width: unset;
    max-height: 0;
    -webkit-transition: max-height 0.2s ease-out;
    transition: max-height 0.2s ease-out;
    border-style: none;
  }
}

main #articles .articles-container .panel .article-text {
  width: 100%;
  height: 100%;
  max-width: initial;
  max-height: initial;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  opacity: 0;
  padding: 6rem;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  border-right: 0.3rem solid #000000;
}

@media only screen and (max-width: 1024px) {
  main #articles .articles-container .panel .article-text {
    border-style: none;
  }
}

main #articles .articles-container .panel .article-text .article-text-content {
  max-height: 100%;
  padding-right: 6rem;
  overflow-y: auto;
}

@media only screen and (max-width: 1024px) {
  main #articles .articles-container .panel .article-text .article-text-content {
    max-height: initial;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0;
    overflow-y: hidden;
  }
}

main #articles .articles-container .panel .article-text .article-text-content h1 {
  margin-top: 2.4rem;
  font-size: 4rem;
}

main #articles .articles-container .panel .article-text .article-text-content h1.conclusion {
  margin-top: 6rem;
}

main #articles .articles-container .panel .article-text .article-text-content img {
  margin-top: 2rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

main #articles .articles-container .panel .article-text .article-text-content h2 {
  font-size: 4.6rem;
  margin-top: 2rem;
  font-family: "Bembo";
}

main #articles .articles-container ::-webkit-scrollbar {
  width: 1.6rem;
  margin-right: 6rem;
}

main #articles .articles-container ::-webkit-scrollbar-track {
  background: #ffffff;
  border: 0.2rem solid #000000;
}

main #articles .articles-container ::-webkit-scrollbar-thumb {
  background: #000000;
}

main #articles .articles-container ::-webkit-scrollbar-thumb:hover {
  background: #262626;
}

main #authors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: flex;
          flex-direction: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  padding: 32rem 6rem 6rem 6rem;
  text-align: right;
  background-color: #ffffff;
  border-top: 0.3rem solid #000000;
  z-index: 1;
}

@media only screen and (max-width: 500px) {
  main #authors {
    padding: 32rem 6rem 16rem 6rem;
  }
}

main #authors img {
  width: 20%;
  position: absolute;
  left: 6rem;
  bottom: 6rem;
}

@media only screen and (max-width: 1024px) {
  main #authors img {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  main #authors h1 {
    font-size: 3.2rem;
  }
}

main #authors li span {
  font-family: "Bembo";
  font-size: 6.8rem;
}

@media only screen and (max-width: 500px) {
  main #authors li span {
    font-size: 4rem;
  }
}

main #authors li:hover span {
  text-decoration: underline;
}

html,
body {
  font: normal normal 150% "HKGrotesk", sans-serif;
  font-size: 1.6rem;
  line-height: 150%;
  min-height: 100%;
  font-size: 10px;
  overflow: auto;
  scroll-behavior: smooth;
  cursor: none;
}

html h1,
body h1 {
  font: normal normal 100% "HKGrotesk-Bold", sans-serif;
  font-size: 6.4rem;
  line-height: 100%;
}

html h2,
body h2 {
  font: normal normal 150% "Bembo-Semibold";
  font-size: 3.2rem;
  line-height: 150%;
}

html h3,
body h3 {
  font: normal normal 150% "Bembo";
  font-size: 2.4rem;
  line-height: 150%;
}

html p,
body p {
  font: normal normal 150% "HKGrotesk", sans-serif;
  font-size: 2.4rem;
  line-height: 150%;
}

html p,
html a,
html li,
html button,
body p,
body a,
body li,
body button {
  font-size: 1.6rem;
}

html a,
html button,
body a,
body button {
  font: normal normal 150% "Bembo";
  font-size: 2.4rem;
  line-height: 150%;
  text-decoration: none;
  border: none;
  cursor: none;
}

html a:focus, html a:active, html a:visited, html a:link, html a:hover,
body a:focus,
body a:active,
body a:visited,
body a:link,
body a:hover {
  text-decoration: none;
  color: inherit;
  outline: none;
}

html ul,
body ul {
  list-style: none;
}

html img,
body img {
  max-width: 100%;
  display: block;
}

html *,
body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.theBall,
.theBall-outer {
  mix-blend-mode: exclusion;
  width: 3.2rem;
  height: 3.2rem;
}

@media only screen and (max-width: 500px) {
  .theBall,
  .theBall-outer {
    display: none;
  }
}

.theBall-outer {
  position: fixed;
  top: -20px;
  left: -20px;
  z-index: 5000;
  pointer-events: none !important;
}

.theBall {
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  -webkit-transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.dark_page .theBall,
.coloring .theBall {
  background-color: #000000;
}

.zooming.theBall {
  -webkit-transform: scale(2);
  transform: scale(2);
}

::-moz-selection {
  background-color: #000000;
  color: #ffffff;
}

::selection {
  background-color: #000000;
  color: #ffffff;
}
/*# sourceMappingURL=global.css.map */