@font-face {
  font-family: "HKGrotesk";
  src: url("../assets/fonts/HKGrotesk-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "HKGrotesk-Bold";
  src: url("../assets/fonts/HKGrotesk-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Bembo";
  src: url("../assets/fonts/BemboStd.ttf") format("truetype");
}

@font-face {
  font-family: "Bembo-Semibold";
  src: url("../assets/fonts/BemboStd-Semibold.ttf") format("truetype");
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  width: 100%;
  padding: 2rem;
  background-color: #000000;
  z-index: 4;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6.4rem;
  float: right;
  text-align: right;
}

header nav ul li {
  padding: 0.16rems 0.32rem;
  color: #ffffff;
}

header nav ul li:hover {
  text-decoration: underline;
}

main #home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
  max-width: initial;
  max-height: initial;
  background-color: #000000;
}

main #home h1 {
  color: #ffffff;
  font-size: 12.8rem;
}

main #home h1 span {
  font-family: "Bembo-Semibold";
}

main #intro {
  padding: 32rem 6rem;
}

main #intro .info-container h2:first-child {
  font-family: "HKGrotesk-Bold", sans-serif;
}

main #intro .info-container h2:last-child {
  font-family: "Bembo";
  margin-top: 3.2rem;
}

main #articles {
  width: 100%;
  height: 100vh;
  max-width: initial;
  max-height: initial;
  background-color: #ffffff;
}

@media only screen and (max-width: 1024px) {
  main #articles {
    height: initial;
  }
}

main #articles .articles-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

@media only screen and (max-width: 1024px) {
  main #articles .articles-container {
    width: 100%;
    height: initial;
    max-width: initial;
    max-height: initial;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: red;
  }
}

main #articles .articles-container > img {
  position: absolute;
  right: 0;
  width: 50%;
}

main #articles .articles-container .article {
  height: 100%;
  padding: 6rem;
  background-color: #ffffff;
  cursor: pointer;
  text-align: left;
  text-orientation: mixed;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  cursor: pointer;
  z-index: 2;
}

@media only screen and (max-width: 1024px) {
  main #articles .articles-container .article {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    max-width: initial;
    max-height: initial;
    text-orientation: mixed;
    -webkit-transform: none;
            transform: none;
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
  }
}

main #articles .articles-container .article span {
  color: #dc1156;
  font-size: 4.6rem;
  font-family: "Bembo";
  display: none;
  margin-right: 2.4rem;
}

@media only screen and (max-width: 1024px) {
  main #articles .articles-container .article span {
    margin: 2.4rem 0 0 0;
  }
}

main #articles .articles-container .active,
main #articles .articles-container .article:hover {
  background-color: #000000;
  color: #ffffff;
}

main #articles .articles-container .active span,
main #articles .articles-container .article:hover span {
  display: block;
}

main #articles .articles-container .panel {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  max-width: 0;
  overflow: hidden;
  -webkit-transition: max-width 0.2s ease-out;
  transition: max-width 0.2s ease-out;
  border-left: 0.3rem solid #000000;
  z-index: 3;
}

@media only screen and (max-width: 1024px) {
  main #articles .articles-container .panel {
    max-width: unset;
    max-height: 0;
    -webkit-transition: max-height 0.2s ease-out;
    transition: max-height 0.2s ease-out;
  }
}

main #articles .articles-container .panel .article-text {
  width: 100%;
  height: 100%;
  max-width: initial;
  max-height: initial;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  opacity: 0;
  padding: 6rem;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  border-right: 0.3rem solid #000000;
}

main #articles .articles-container .panel .article-text .article-text-content {
  max-height: 100%;
  padding-right: 6rem;
  overflow-y: auto;
}

@media only screen and (max-width: 1024px) {
  main #articles .articles-container .panel .article-text .article-text-content {
    max-height: initial;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0;
    overflow-y: hidden;
  }
}

main #articles .articles-container .panel .article-text .article-text-content h1 {
  margin-top: 2.4rem;
}

main #articles .articles-container .panel .article-text .article-text-content h1.conclusion {
  margin-top: 6rem;
}

main #articles .articles-container .panel .article-text .article-text-content img {
  margin-top: 2rem;
}

main #articles .articles-container .panel .article-text .article-text-content .reasons h2 {
  margin-top: 2rem;
}

main #articles .articles-container ::-webkit-scrollbar {
  width: 1.6rem;
  margin-right: 6rem;
}

main #articles .articles-container ::-webkit-scrollbar-track {
  background: #ffffff;
  border: 0.2rem solid #000000;
}

main #articles .articles-container ::-webkit-scrollbar-thumb {
  background: #000000;
}

main #articles .articles-container ::-webkit-scrollbar-thumb:hover {
  background: #262626;
}

main #authors {
  background-color: #000000;
}

html,
body {
  font: normal normal 150% "HKGrotesk", sans-serif;
  font-size: 1.6rem;
  line-height: 150%;
  font-size: 10px;
  overflow: auto;
  scroll-behavior: smooth;
}

html h1,
body h1 {
  font: normal normal 100% "HKGrotesk-Bold", sans-serif;
  font-size: 6.4rem;
  line-height: 100%;
}

html h2,
body h2 {
  font: normal normal 150% "Bembo-Semibold";
  font-size: 3.2rem;
  line-height: 150%;
}

html h3,
body h3 {
  font: normal normal 150% "Bembo";
  font-size: 2.4rem;
  line-height: 150%;
}

html p,
body p {
  font: normal normal 150% "HKGrotesk", sans-serif;
  font-size: 2.4rem;
  line-height: 150%;
}

html p,
html a,
html li,
html button,
body p,
body a,
body li,
body button {
  font-size: 1.6rem;
}

html a,
html button,
body a,
body button {
  font: normal normal 150% "Bembo";
  font-size: 2.4rem;
  line-height: 150%;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

html a:focus, html a:active, html a:visited, html a:link, html a:hover,
body a:focus,
body a:active,
body a:visited,
body a:link,
body a:hover {
  text-decoration: none;
  color: inherit;
  outline: none;
}

html ul,
body ul {
  list-style: none;
}

html img,
body img {
  max-width: 100%;
  display: block;
}

html *,
body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 1.6rem;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
}

::-webkit-scrollbar-thumb:hover {
  background: #262626;
}
/*# sourceMappingURL=global.css.map */